body {
  margin: 0px;
  background-color: #343434;
  color: #ffffff;
  font-family: sans-serif;
}
h1, h2, h3, h4, p {
  margin-top: 0px;
  margin-bottom: 0px;
}
.rubik-distressed-regular {
  font-family: "Rubik Distressed", system-ui;
  font-weight: 400;
  font-style: normal;
}
.navbar-brand {
  height: 100px;
  width: auto;
}
.navbar-logo {
  height: auto;
  width: auto;
}
.navbar-text {
  font-family: "Rubik Distressed", system-ui;
}
.header-bar {
  background-color: #3C3C3C;
  padding: 20px 20px 20px 20px;
  display: inline-flex;
  width: -webkit-fill-available;
  height: auto;
}
.main-content {
  padding: 20px 20px 20px 20px;
  width: -webkit-fill-available;
  height: auto;
}
.main-content p {
  font-size: 22.5px;
}
