body {
  margin: 0px;
  background-color: #343434;
  color: #ffffff;
  font-family: sans-serif;
}
h1, h2, h3, h4, p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.rubik-distressed-regular {
  font-family: "Rubik Distressed", system-ui;
  font-weight: 400;
  font-style: normal;
}
.navbar-spacer {
  width: 100%;
}
.footer-navbar-brand {
  display: inline-flex;
  height: auto;
  width: -webkit-fill-available;
  justify-content: center;
  margin-bottom: 0px;
}
.navbar-brand {
  display: inline-flex;
  height: 100px;
  width: auto;
}
.navbar-brand a {
  text-decoration: none;
  display: inline-flex;
  color: #e8e8e8;
}
.navbar-brand a:hover {
  color: #ffffff;
}
.navbar-logo {
  height: 100px;
  width: auto;
  margin-right: 10px;
}
.footer-navbar-logo {
  height: 50px;
  width: auto;
  margin-right: 0px;
}
a.navbar-text-link {
  text-decoration: none;
  margin-top: 0px;
  margin-left: 0px;
  color: #e8e8e8;
  font-size: 30px;
  text-align: center;
}
a.navbar-text-link:hover {
  text-decoration: none;
  color: #ffffff;
}
.navbar-text {
  font-family: "Rubik Distressed", system-ui;
  font-size: 22px;
}
.navbar-menu {
  display: inline-flex;
}
.footer-menu {
  display: inline-flex;
  width: 100%;
}
.footer-menu .footer-main-menu {
  width: 100%;
  justify-content: center;
}
.footer-copyright {
  color: #e8e8e8;
  margin-top: 10px;
  text-align: center;
  font-family: 'Rubik Distressed';
  font-style: italic;
}
.main-menu {
  display: inline-flex;
  font-family: "Rubik Distressed", system-ui;
}
.main-menu a {
  text-decoration: none;
  margin-top: 65px;
  margin-left: 25px;
  color: #e8e8e8;
  font-size: 30px;
}
.main-menu a:hover {
  text-decoration: none;
  color: #ffffff;
}
.footer-main-menu {
  display: inline-flex;
  font-family: "Rubik Distressed", system-ui;
}
.footer-main-menu a {
  text-decoration: none;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  color: #e8e8e8;
  font-size: 30px;
}
.footer-main-menu a:hover {
  text-decoration: none;
  color: #ffffff;
}
.header-bar {
  background-color: #3C3C3C;
  padding: 20px 20px 20px 20px;
  display: inline-flex;
  width: -webkit-fill-available;
  height: auto;
}
.main-content {
  padding: 20px 20px 20px 20px;
  width: -webkit-fill-available;
  height: auto;
}
.footer-bar {
  background-color: #3C3C3C;
  padding: 20px 20px 20px 20px;
  display: block;
  width: -webkit-fill-available;
  height: auto;
}
.main-content p {
  font-size: 22.5px;
}
